<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776948649943-g4l46v2nimf2j9vva0jpaft1rfcqbpp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776948649943-g4l46v2nimf2j9vva0jpaft1rfcqbpp1</string>
	<key>API_KEY</key>
	<string>AIzaSyB-1BG4FgigA2XBe3x-PXUlH1KWmLATM8w</string>
	<key>GCM_SENDER_ID</key>
	<string>776948649943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectapp</string>
	<key>PROJECT_ID</key>
	<string>telome-6750f</string>
	<key>STORAGE_BUCKET</key>
	<string>telome-6750f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776948649943:ios:e6901345e24fa04f70c592</string>
</dict>
</plist>